<div class="flex h-full gap-3 @container">
  <div
    class="flex h-full w-full flex-col gap-3 transition-all duration-700 ease-in-out @container">
    <app-fc-action-bar
      [actionButtons]="actionButtons"
      [filterButtons]="filterButtons"></app-fc-action-bar>
    <div class="body flex h-full w-full flex-col gap-3 overflow-y-auto text-xs">
      <div
        class="hidden h-8 w-full items-center gap-2 rounded-lg border border-light-lowest bg-light-low px-3 @lg:flex dark:border-dark-lowest dark:bg-dark-low">
        <div class="flex-1 @2xl:max-w-[20rem]">
          <p class="list-value text-xs text-gray-700 dark:text-gray-300">
            Name
          </p>
        </div>
        <div class="flex-1 @2xl:max-w-[20rem]">
          <p class="list-value text-xs text-gray-700 dark:text-gray-300">
            Type
          </p>
        </div>
        <div class="flex-1 @2xl:max-w-[20rem]">
          <p class="list-value text-xs text-gray-700 dark:text-gray-300">
            Email
          </p>
        </div>
        <div class="flex-1 @2xl:max-w-[20rem]">
          <p class="list-value text-xs text-gray-700 dark:text-gray-300">
            Phone Number
          </p>
        </div>
        <div class="flex-1 @2xl:max-w-[20rem]">
          <p class="list-value text-xs text-gray-700 dark:text-gray-300">
            Branch
          </p>
        </div>
        <div class="flex-1 @2xl:max-w-[20rem]">
          <p class="list-value text-xs text-gray-700 dark:text-gray-300">
            Actions
          </p>
        </div>
      </div>
      <div class="w-full space-y-2 overflow-y-auto py-2">
        <ng-container *ngFor="let teacher of teachers">
          <div
            (dblclick)="navigateToDetail(teacher)"
            class="fc-animate-translate-up grid cursor-pointer items-center gap-2 rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light @lg:flex dark:border-dark-lowest dark:bg-dark-low hover:dark:border-primary-light">
            <div class="w-full @2xl:max-w-[20rem]">
              <p class="block font-medium capitalize text-gray-500 @2xl:hidden">
                Name
              </p>
              <p class="list-value text-xs text-gray-700 dark:text-gray-300">
                {{ teacher.staff.user.name }}
              </p>
            </div>
            <div class="w-full @2xl:max-w-[20rem]">
              <p class="block font-medium capitalize text-gray-500 @2xl:hidden">
                Type
              </p>
              <p class="list-value text-xs text-gray-700 dark:text-gray-300">
                {{ teacher.type_name }}
              </p>
            </div>
            <div class="w-full @2xl:max-w-[20rem]">
              <p class="block font-medium capitalize text-gray-500 @2xl:hidden">
                Email
              </p>
              <p class="list-value text-xs text-gray-700 dark:text-gray-300">
                {{ teacher.staff.user.email }}
              </p>
            </div>
            <div class="w-full @2xl:max-w-[20rem]">
              <p class="block font-medium capitalize text-gray-500 @2xl:hidden">
                Phone Number
              </p>
              <p class="list-value text-xs text-gray-700 dark:text-gray-300">
                {{ teacher.staff.user.phone_no || '-' }}
              </p>
            </div>
            <div class="w-full @2xl:max-w-[20rem]">
              <p class="block font-medium capitalize text-gray-500 @2xl:hidden">
                Branch
              </p>
              <p
                *ngIf="teacher.branch"
                class="list-value text-xs text-gray-700 dark:text-gray-300">
                {{ teacher.branch.name }}
              </p>
              <p
                *ngIf="!teacher.branch"
                class="list-value text-xs text-gray-700 dark:text-gray-300">
                -
              </p>
            </div>
            <div
              class="flex w-full justify-end @2xl:max-w-[20rem] @2xl:justify-start">
              <button
                (click)="navigateToDetail(teacher)"
                type="button"
                class="btn btn-high">
                <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!loading && teachers.length == 0">
          <div class="w-full py-[20vh] text-center">
            <p>No data found</p>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="flex justify-end gap-3">
      <div class="w-full @lg:w-96">
        <fc-pagination
          [rows]="rows"
          [page]="page"
          [totalPages]="totalPages"
          [totalRecords]="totalRecords"
          (onPageUpdate)="onPageUpdate($event)"></fc-pagination>
      </div>
    </div>
  </div>
</div>
