<div
  class="space-y-3 rounded-lg bg-light-highest p-3 backdrop-blur-sm dark:bg-dark-highest">
  <div class="flex items-center">
    <h3 class="flex-1 text-sm font-medium">{{ title }}</h3>
    <button
      class="rounded-md p-2 hover:bg-light-lowest hover:dark:bg-dark-lowest"
      (click)="onClose()">
      <fa-icon [fixedWidth]="true" [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="space-y-3">
    <form
      [formGroup]="serviceInvoiceDetailForm"
      class="body w-full overflow-y-auto @container dark:bg-dark-high">
      <div class="grid gap-4">
        <fc-input-text
          [title]="'Item'"
          [placeholder]="'Enter Item'"
          formControlName="item" />
        <fc-input-number
          title="Price"
          formControlName="price"
          placeholder="Enter Price" />
      </div>
    </form>
  </div>
  <div class="flex items-center justify-end gap-3 pt-3">
    <button
      type="button"
      [ngClass]="isSubmitAllowed() ? 'opacity-100' : 'opacity-25'"
      class="fc-animate-translate-up flex items-center gap-2 rounded-md bg-light-lowest p-2 text-sm dark:bg-dark-lowest"
      (click)="submit()"
      [disabled]="!isSubmitAllowed()">
      Submit
    </button>
  </div>
</div>
