<div class="flex h-full flex-col space-y-3">
  <app-fc-action-bar [isHasBackButton]="true" [actionButtons]="actionButtons">
  </app-fc-action-bar>
  <div class="body h-full w-full overflow-y-auto text-xs">
    <form [formGroup]="classroomForm" class="grid w-full gap-3 lg:grid-cols-2">
      <fc-input-text
        title="Room"
        formControlName="room"
        placeholder="Enter Room"></fc-input-text>
      <fc-input-text
        title="Location"
        formControlName="location"
        placeholder="Enter Location"></fc-input-text>
      <!-- select branch -->
      <div
        class="form-input flex flex-1 cursor-pointer items-center rounded-lg border border-light-lowest bg-light-high p-2 dark:border-dark-lowest dark:bg-dark-low dark:hover:bg-dark-lowest">
        <div class="flex flex-1 flex-col" (click)="onSelectBranch()">
          <p
            class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
            Branch
          </p>
          <p *ngIf="classroomForm.value.branch" class="text-xs">
            {{ classroomForm.value.branch.name }}
          </p>
          <p
            *ngIf="!classroomForm.value.branch"
            class="text-xs dark:text-gray-400">
            Select Branch
          </p>
        </div>
        <div class="flex items-center gap-2">
          <button
            *ngIf="classroomForm.value.branch"
            type="button"
            (click)="removeBranch()">
            <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
          </button>
          <button type="button" (click)="onSelectBranch()">
            <fa-icon [fixedWidth]="true" [icon]="faChevronDown"></fa-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
