<div class="flex h-full gap-3 @container">
  <div
    class="flex h-full w-full flex-col gap-3 transition-all duration-700 ease-in-out @container">
    <app-fc-action-bar
      [actionButtons]="actionButtons"
      [filterButtons]="filterButtons"></app-fc-action-bar>
    <div class="body flex h-full w-full gap-3 overflow-y-auto text-xs">
      <ng-container *ngIf="!loading && coursePackages.length > 0">
        <div class="w-full space-y-2 overflow-y-auto py-2">
          <ng-container *ngFor="let coursePackage of coursePackages">
            <div
              (dblclick)="navigateToDetail(coursePackage)"
              class="fc-animate-translate-up grid cursor-pointer grid-cols-1 items-center justify-between rounded-md border border-light-low bg-light-low p-3 hover:border-primary-light dark:border-dark-low dark:bg-dark-low hover:dark:border-primary-light lg:flex">
              <div class="flex-1 space-y-3">
                <div class="flex gap-1">
                  <fa-icon [fixedWidth]="true" [icon]="faBook"></fa-icon>
                  <p class="font-bold">{{ coursePackage.name }}</p>
                </div>
                <p>{{ coursePackage.description }}</p>
              </div>
              <div class="flex w-full justify-end lg:w-[150px]">
                <button
                  (click)="navigateToDetail(coursePackage)"
                  type="button"
                  class="btn btn-high">
                  <fa-icon [fixedWidth]="true" [icon]="faEye"></fa-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading && coursePackages.length == 0">
        <div class="w-full py-[20vh] text-center">
          <p>No data found</p>
        </div>
      </ng-container>
      <div class="w-full py-[20vh] text-center" *ngIf="loading">
        <fc-loading></fc-loading>
      </div>
    </div>
    <div class="flex justify-end gap-3">
      <div class="w-full @lg:w-96">
        <fc-pagination
          [rows]="rows"
          [page]="page"
          [totalPages]="totalPages"
          [totalRecords]="totalRecords"
          (onPageUpdate)="onPageUpdate($event)"></fc-pagination>
      </div>
    </div>
  </div>
</div>
