<label
  #targetEl
  class="form-input flex items-center gap-2 rounded-lg border bg-light-high p-2 focus-within:border-primary-light/50 dark:bg-dark-low focus-within:dark:border-dark-lowest"
  [for]="uniqueId"
  [ngClass]="{
    'border-red-400': isInvalid,
    'border-light-lowest dark:border-dark-lowest': !isInvalid
  }">
  <div class="flex flex-1 flex-col">
    <p
      class="m-0 block p-0 text-2xs font-medium leading-5 text-dark-lowest dark:text-white/60">
      {{ title }}
      <!-- <span *ngIf="required" class="text-red-500">*</span> -->
      <span *ngIf="required" class="ml-1 text-2xs text-red-500"
        >* required</span
      >
    </p>

    <div class="flex gap-1">
      <div
        *ngIf="countryCode"
        (click)="fcDialog.toggle($event, targetEl)"
        class="cursor-pointer rounded-md px-0.5 py-0 text-xs hover:bg-light-lowest dark:hover:bg-dark-lowest">
        +{{ countryCode }}
      </div>
      <!--
      <fc-select-option
        class="flex-1"
        [options]="CountryCodeList"
        [(ngModel)]="countryCode"
        [optionValue]="'value'"
        [optionLabel]="'name'"
        title="Duration"
        [desktopView]="'overlay'"
        [mobileView]="'dialog'" /> -->
      <input
        fcNumber
        class="m-0 w-full bg-light-high p-0 text-xs ring-0 focus:outline-none focus:ring-0 dark:bg-dark-low"
        [type]="type"
        [id]="uniqueId"
        [(ngModel)]="value"
        (input)="onValueChange(value)"
        [disabled]="disabled"
        [readonly]="readonly"
        [placeholder]="placeholder"
        (keypress)="validateNumber($event)" />
    </div>
  </div>
  <button
    type="button"
    class="text-xs"
    (click)="chat()"
    *ngIf="value != null && value != ''">
    <fa-icon [icon]="faComments" [fixedWidth]="true"></fa-icon>
  </button>
  <button
    type="button"
    (click)="onRemoveValue()"
    *ngIf="value != null && value != '' && !disabled && !readonly">
    <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
  </button>
</label>
<fc-dialog
  #fcDialog
  [title]="title"
  [desktopView]="'overlay'"
  [mobileView]="'overlay'">
  <div
    class="flex w-full flex-col gap-2 bg-light-high py-2 text-dark-lowest dark:bg-dark-low dark:text-light-lowest">
    <div class="search flex px-2">
      <span class="p-input-icon-left w-full">
        <input
          pInputText
          type="text"
          class="p-input h-8 w-full text-xs"
          [(ngModel)]="searchQuery"
          [placeholder]="'Search Country'"
          (input)="onSearchQueryChange()" />
        <i class="pi pi-search"></i>
      </span>
    </div>
    <div
      class="list h-[200px] min-w-[250px] overflow-auto rounded p-2 hover:border-transparent hover:ring-transparent">
      <ng-container *ngFor="let countryCodeItem of countryCodeList">
        <button
          (click)="
            onChangeCountryCode(countryCodeItem); fcDialog.toggle($event)
          "
          class="grid w-full cursor-pointer items-center gap-2 rounded-md border border-light-low bg-light-low p-2 text-left text-xs hover:border-primary-light dark:border-dark-low dark:bg-dark-high hover:dark:border-primary-light">
          <div class="flex gap-1">
            <span class="w-10">+{{ countryCodeItem.dial_code }}</span>
            <p>
              {{ countryCodeItem.name }}
            </p>
          </div>
        </button>
      </ng-container>
    </div>
  </div>
</fc-dialog>
